---
- name: Clone runit build repo
  git:
    repo=https://github.com/betterplace/runit-rpm
    dest=/opt/build/runit-rpm
    version=b8e14f706165cd0e2d6d1ec6681d7efbfcd58ce9
    update=no

- name: Check for Amazon Linux
  set_fact: distro_tag="amazn1"
  when: "ansible_distribution == 'Amazon'"

- name: Check for Centos
  set_fact: distro_tag="el{{ansible_distribution_major_version}}.centos"
  when: "ansible_distribution == 'CentOS'"

- name: Set the rpm name
  set_fact: runit_rpm="/root/rpmbuild/RPMS/x86_64/runit-2.1.2-1.{{distro_tag}}.x86_64.rpm"

- name: Check runit rpm existence
  stat: path="{{runit_rpm}}"
  register: runit_rpm_exists

- name: Execute runit build script
  shell: ./build.sh chdir=/opt/build/runit-rpm
  when: not runit_rpm_exists.stat.exists

- name: Install runit rpm
  yum: pkg="{{runit_rpm}}" state=installed

- name: Ensure sv and service directory exists
  file: path=/etc/{{item}} state=directory
  with_items:
    - sv
    - service

- name: Allow betterplace to exec sv
  lineinfile: "
    dest=/etc/sudoers
    state=present
    line='betterplace ALL=(ALL) NOPASSWD: /sbin/sv'
  "
